h2 {
  font-size: 40px;
  font-family: Arial;
}
h3 {
  font-size: 24px;
  font-family: Arial;
}
.center {
  margin: 0 auto;
  padding: 0;
}
.transition {
  transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
}
.transition_slider {
  -webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
body,
html {
  font-family: Georgia, sans-serif;
  background-color: #FFFFFF;
  font-size: 16px;
  color: #000000;
  margin: 0 auto;
  padding: 0;
}
header {
  width: 100%;
  background-color: #082841;
  margin: 0 auto;
  padding: 0;
}
.wrapper {
  display: grid;
  max-width: 1440px;
  grid-template-columns: auto minmax(584px, 1000px);
  grid-template-rows: 0.5fr 0.5fr;
  margin: 0 auto;
  padding: 0;
}
.wrapper div div {
  padding: 2% 25% 2% 10%;
  line-height: 18px;
}
.wrapper h2,
.wrapper h3 {
  color: #FFFFFF;
}
.wrapper .my_name {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}
.wrapper .photo {
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;
}
.wrapper .photo img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.wrapper .about_me {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}
.wrapper .about_me p {
  color: #FFFFFF;
  line-height: 28px;
  margin: 0;
  font-size: 20px;
}
.main {
  width: 944px;
  margin: 0 auto;
  padding: 0;
}
.expectations {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: 304px 240px auto;
  grid-template-rows: 120px 0.5fr 0.5fr;
  padding: 100px 0 0;
}
.expectations h2 {
  grid-column: 1 / span 3;
  grid-row: 1 / span 1;
}
.expectations > div {
  background: linear-gradient(to bottom, #E6F0F0 0%, #E9F0E6 100%);
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
.expectations > div h3,
p {
  margin: 25px 32px;
}
.exp_1 {
  grid-column: 1 / span 2;
  grid-row: 2 / span 1;
}
.exp_2 {
  grid-column: 3 / span 1;
  grid-row: 2 / span 1;
}
.exp_3 {
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;
}
.exp_4 {
  grid-column: 2 / span 2;
  grid-row: 3 / span 1;
}
.my_projects {
  padding: 145px 0 0;
}
.my_projects h2 {
  padding: 0 0 60px;
  margin: 0;
}
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 0 145px;
}
#slider_container_1,
#slider_container_2,
#slider_container_3 {
  width: 400%;
  position: relative;
}
#slider_container_1 img,
#slider_container_2 img,
#slider_container_3 img {
  display: inline-block;
  vertical-align: top;
}
#slider_container_2 {
  width: 500%;
}
#slider_container_3 {
  width: 200%;
}
#slide_1_1:checked ~ .screen #slider_container_1 {
  margin-left: 0;
  -webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#slide_1_2:checked ~ .screen #slider_container_1 {
  margin-left: -100%;
  -webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#slide_1_3:checked ~ .screen #slider_container_1 {
  margin-left: -200%;
  -webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#slide_1_4:checked ~ .screen #slider_container_1 {
  margin-left: -300%;
  -webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#slide_2_1:checked ~ .screen #slider_container_2 {
  margin-left: 0;
  -webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#slide_2_2:checked ~ .screen #slider_container_2 {
  margin-left: -100%;
  -webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#slide_2_3:checked ~ .screen #slider_container_2 {
  margin-left: -200%;
  -webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#slide_2_4:checked ~ .screen #slider_container_2 {
  margin-left: -300%;
  -webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#slide_2_5:checked ~ .screen #slider_container_2 {
  margin-left: -400%;
  -webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#slide_3_1:checked ~ .screen #slider_container_3 {
  margin-left: 0;
  -webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#slide_3_2:checked ~ .screen #slider_container_3 {
  margin-left: -100%;
  -webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#slide_1_1:checked ~ .active label:nth-child(1),
#slide_1_2:checked ~ .active label:nth-child(2),
#slide_1_3:checked ~ .active label:nth-child(3),
#slide_1_4:checked ~ .active label:nth-child(4),
#slide_2_1:checked ~ .active label:nth-child(1),
#slide_2_2:checked ~ .active label:nth-child(2),
#slide_2_3:checked ~ .active label:nth-child(3),
#slide_2_4:checked ~ .active label:nth-child(4),
#slide_2_5:checked ~ .active label:nth-child(5),
#slide_3_1:checked ~ .active label:nth-child(1),
#slide_3_2:checked ~ .active label:nth-child(2) {
  background-color: #082841;
}
.screen {
  width: 544px;
  height: 384px;
  overflow: hidden;
  position: relative;
  font-size: 0;
}
.screen img {
  width: 544px;
  height: 384px;
  display: inline-block;
  object-fit: cover;
}
.prev,
.next {
  display: none;
}
.commands {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0;
}
.commands label {
  display: none;
  width: 50%;
  height: 100%;
  opacity: 0;
}
.commands label:hover {
  cursor: pointer;
}
.commands:hover ~ .next,
.commands:hover ~ .prev {
  display: block;
  position: absolute;
  cursor: pointer;
  color: #FFFFFF;
  opacity: 1;
  font-weight: bold;
  font-size: 42px;
  height: 100%;
  z-index: 1;
  transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
}
.commands:hover ~ .next {
  background: linear-gradient(to left, rgba(0, 0, 0, 0.3) 30%, rgba(0, 0, 0, 0) 30%);
  padding: 30% 10% 30% 40%;
  margin-left: 50%;
  width: 0.1%;
}
.commands:hover ~ .prev {
  background: linear-gradient(to left, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.3) 70%);
  padding: 30% 5%;
  width: 40.1%;
}
#slide_1_1:checked ~ .screen .commands label:nth-child(2),
#slide_1_2:checked ~ .screen .commands label:nth-child(3),
#slide_1_3:checked ~ .screen .commands label:nth-child(4),
#slide_1_4:checked ~ .screen .commands label:nth-child(1),
#slide_2_1:checked ~ .screen .commands label:nth-child(2),
#slide_2_2:checked ~ .screen .commands label:nth-child(3),
#slide_2_3:checked ~ .screen .commands label:nth-child(4),
#slide_2_4:checked ~ .screen .commands label:nth-child(5),
#slide_2_5:checked ~ .screen .commands label:nth-child(1) {
  display: block;
  float: right;
}
#slide_1_1:checked ~ .screen .commands label:nth-child(4),
#slide_1_2:checked ~ .screen .commands label:nth-child(1),
#slide_1_3:checked ~ .screen .commands label:nth-child(2),
#slide_1_4:checked ~ .screen .commands label:nth-child(3),
#slide_2_1:checked ~ .screen .commands label:nth-child(5),
#slide_2_2:checked ~ .screen .commands label:nth-child(1),
#slide_2_3:checked ~ .screen .commands label:nth-child(2),
#slide_2_4:checked ~ .screen .commands label:nth-child(3),
#slide_2_5:checked ~ .screen .commands label:nth-child(4) {
  display: block;
  float: left;
}
#slide_3_1:checked ~ .screen .commands label:nth-child(2),
#slide_3_2:checked ~ .screen .commands label:nth-child(1) {
  display: block;
  width: 100%;
}
.slider_block {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.slider_block input {
  display: none;
}
.active label {
  display: block;
  margin: 16px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #DD3E18;
}
.active label:hover {
  background-color: #082841;
}
.projects_group {
  width: 304px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
.projects_group h3 {
  margin: 0;
}
.projects_group a {
  color: #DD3E18;
  font-size: 16px;
  line-height: 30px;
  text-decoration: none;
  transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
}
.projects_group a:hover {
  color: #082841;
  transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
}
footer {
  background: linear-gradient(to bottom, #E6F0F0 0%, #E9F0E6 100%);
}
footer h2 {
  padding: 80px 0 60px;
  margin: 0;
}
footer img {
  width: 20px;
  height: 20px;
  display: inline-block;
  padding: 0 8px 0 0;
}
.footer_container {
  width: 944px;
  margin: 0 auto;
  padding: 0;
}
.flex_footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  padding-bottom: 30px;
}
.footer_info {
  width: 304px;
}
.footer_info p {
  margin: 0 0 30px 0;
}
.social_links {
  line-height: 32px;
}
.social_links a {
  color: #DD3E18;
  text-decoration: none;
  transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  display: inline-block;
  vertical-align: middle;
}
.social_links a:hover {
  cursor: pointer;
  transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  color: #082841;
}
.social_links img {
  display: inline-block;
  vertical-align: middle;
}
form {
  width: 544px;
}
form input,
form textarea {
  width: 532px;
  border-radius: 4px;
  box-shadow: none;
  border: 1px solid #cecece;
  font-size: 16px;
  padding: 10px 0 10px 10px;
  font-family: Georgia;
}
form input {
  height: 27px;
  margin-bottom: 24px;
}
form textarea {
  overflow: auto;
  resize: none;
  height: 170px;
  margin-bottom: 16px;
}
form input[type="submit"] {
  background-color: #DD3E18;
  color: #FFFFFF;
  height: 47px;
  width: 544px;
  font-weight: 700;
  font-family: Arial;
  transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
}
form input[type="submit"]:hover {
  cursor: pointer;
  background-color: #082841;
}
input[type="file"] {
  display: none;
}
.custom-file-upload {
  display: inline-block;
  cursor: pointer;
  color: #DD3E18;
  margin-bottom: 32px;
  font-family: Arial;
  font-weight: 700;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .wrapper {
    width: 704px;
    grid-template-columns: auto;
    grid-template-rows: 100% 100% 100%;
    text-align: center;
  }
  .wrapper div div {
    margin: 97px auto 39px;
    padding: 0;
  }
  .wrapper .my_name {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
  }
  .wrapper .photo {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    margin: 0 auto;
    padding: 0;
  }
  .wrapper .photo img {
    width: 384px;
    height: 384px;
    border-radius: 50%;
  }
  .wrapper .about_me {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
  }
  .wrapper .about_me div {
    padding: 75px 80px 145px;
    margin: 0;
  }
  .main {
    width: 704px;
  }
  .expectations {
    grid-template-columns: 304px 80px auto;
    grid-template-rows: 120px 0.5fr 0.5fr;
    padding: 70px 0 0;
  }
  .my_projects {
    padding: 105px 0 0;
  }
  .projects {
    display: flex;
    padding: 0 0 60px;
    width: 704px;
    align-self: center;
  }
  .screen {
    width: 704px;
    height: 496px;
    order: 1;
  }
  .screen img {
    width: 704px;
    height: 496px;
  }
  .slider_block {
    justify-content: center;
    order: 2;
  }
  .active label {
    display: inline-block;
  }
  .active {
    order: 2;
    margin: 10px;
  }
  .projects_group {
    width: 100%;
    margin: 0 0 25px;
    flex-direction: row;
    justify-content: space-between;
    order: 1;
  }
  .project_name {
    width: 304px;
  }
  .description {
    width: 384px;
  }
  footer h2 {
    padding: 35px 0;
  }
  .footer_container {
    width: 704px;
  }
  .flex_footer {
    align-content: space-between;
    flex-direction: row;
    width: 100%;
    padding-bottom: 70px;
  }
  .footer_info {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 30px;
  }
  .footer_info div:first-child {
    width: 384px;
  }
  .social_links {
    width: 304px;
  }
  .social_links div {
    padding: 0 0 0 90px;
  }
  .social_links span {
    display: none;
  }
  form {
    width: 704px;
  }
  form input,
  form textarea {
    width: calc(692px);
  }
  form input[type="submit"] {
    width: 704px;
  }
}
