@footer_color: linear-gradient(to bottom, #E6F0F0 0%, #E9F0E6 100%);
@h2_font: Arial;
@text_font: Georgia;
@links_color: #DD3E18;
@body_color: #FFFFFF;
@header_color: #082841;
@desktop: 1024px;
@desktop_area: 944px;
@tablet: 768px;
@tablet_area: 704px;


h2  {
    font-size: 40px;
    font-family: @h2_font;
}

h3  {
     font-size: 24px;
     font-family: @h2_font;
}


.center {
      margin:0 auto;
      padding:0;
}

.transition {
      transition: all 0.2s ease-in;
      -o-transition: all 0.2s ease-in;
      -moz-transition: all 0.2s ease-in;
      -webkit-transition: all 0.2s ease-in;
}

.transition_slider  {

    -webkit-transition:all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -moz-transition:all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -ms-transition:all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition:all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition:all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

